@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto&display=swap');

$primaryColor:#f05454;
$secondaryColor:#30475e;
$textColor:#dddddd;

html,
body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: $primaryColor;
    color: $textColor;
    z-index: -2;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container:after {
    content: '';
    position: absolute;
    background-color: $secondaryColor;
    padding-bottom: 141.42136%;
    width: 100%;
    bottom: 10rem;
    left: -4rem;
    transform: rotate(60.5deg);
    transform-origin: left bottom;
    z-index: 1;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'navbar'
        'intro'
        'footer';
    grid-gap: 10px;
    z-index: 2;
    height: 100vh;
}

.item1 {
    grid-area: navbar;

    #navbar {
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            list-style-type: none;
            overflow: hidden;

            li {
                float: left;

                a {
                    display: block;
                    color: $textColor;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                }

                a:hover {
                    background-color: $textColor;
                    color: $secondaryColor;
                }

            }
        }
    }

}

.item2 {
    display: flex;
    grid-area: intro;
    width: 100vw;
    justify-content: center;
    align-items: flex-start;

    #intro {
        font-size: 2rem;
        text-align: center;
        line-height: 10px;

        h1 {}

        h5 {
            border: 5px solid #222831;
            padding: 1rem;
            background-color: $textColor;
            color: $secondaryColor;
        }
    }
}

.item3 {
    grid-area: footer;
}


.container-2 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-2:after {
    content: '';
    position: absolute;
    background-color: $secondaryColor;
    padding-bottom: 141.42136%;
    width: 100%;
    bottom: 10rem;
    left: 4rem;
    transform: rotate(-60.5deg);
    transform-origin: left bottom;
    z-index: 1;
}