<html>

<head>
    <link rel="stylesheet" href="./css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <!--    Header    -->

    <!--   content   -->
    <div id="nav-app" class="navbar">
        <!--    Navbar  -->
        <nav v-bind:class="active" v-on:click.prevent>
            <a href="#" class="home" v-on:click="makeActive('home')">Home</a>
            <a href="#" class="bio" v-on:click="makeActive('bio')">Bio</a>
            <a href="#" class="services" v-on:click="makeActive('services')">Services</a>
            <a href="#" class="contact" v-on:click="makeActive('contact')">Contact</a>
        </nav>
        <!--    Components      -->
        <div id="content" class="content">
            <div v-if="active == 'home'" class="home">
                <div id="introdunction" class="header">
                    <div>
                        <h1>
                            {{ name }}
                        </h1>
                        <h4>
                            {{ work }}
                        </h4>
                    </div>
                </div>
            </div>
            <div v-if="active == 'bio'" class="bio">
                bio
            </div>
            <div v-if="active == 'services'">
                services
            </div>
            <div v-if="active == 'contact'">
                Contact
            </div>
        </div>

    </div>



    <script src="./js/index.js">
    </script>
</body>

</html>